﻿body {
    background-color: #dc3523;

}

.sfondorosso {
    background-color: #642422;
}

.navbar-default {
    background-color: #642422;
    border-color: #642422;
    margin-bottom: 0;

}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: black;
    background-color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.stage {
    background-image: url('../immages/logo.jpg');
    height: 220px;
    position: relative;
    background-repeat: no-repeat; /*non ripete l'immagine'*/
    background-size: 100% 220px;
    background-position: center center;
}

.stage h4 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background-color: white;
    padding: 0 30px;
    text-align: right;
    color: darkred;
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
    line-height: 1;
    font-weight: bold;
}

.padd {
    padding: 5px;
}

.centrale {
    margin-top: 1%;
    padding: 1% 3%;
    background-color: #642422;
}

.mezzo {
    background-color: white;
    padding: 1% 3% 3% 3%;
}

.mlista {
    background-color: #83352b;
    padding: 1%;
}

.mlista h5 {
    text-align: center;
    color: white;
    margin-bottom: 9%;
    font-weight: bold;
}

.imm {
    width: 100%;
}

.paragrafo {
    margin-top: 6%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 192%;
    color: darkred;
    vertical-align: auto;

}

.footer {
    margin-top: 2%;
    background-color: #642422;
    color: white;
    width: 103%;
    font-size: 213%;
    padding: 1%;
    line-height: 1;
}

.mbot {
    margin-bottom: 2%;
}

.centralemenu {
    margin-top: 1%;
    padding: 1% 3%;
    background-color: #642422;

    color: darkred;
}

.centralemenu img {
    width: 100%;
    height: 217px;
}

.menu6 {
    background-color: white;
    padding: 2%;
    font-family: 'Dancing Script', cursive;
    margin: 1%;

}

.menu6 h3 {
    margin-top: 154%;
    font-weight: bold;
}

.menu6 h2 {
    font-weight: bold;
}

.msx {
    margin-right: -4px;
}

.mdx {
    margin-left: -4px;
}

.tmenu {
    margin-top: -3%;
    margin-bottom: 1%;

}


.ccorpo {
    background-color: #642422;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
}

.ctitolo {

    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    margin-top: -2%;
    margin-left: 0%;
    margin-right: 0%;

}

.ctitolo h2 {
    font-size: 42px;
    background-color: red;
    margin-left: -15px;
    margin-right: -15px;
}

.maps {
    background-color: white;
    padding: 2%;
    margin: 0 10% 2% 10%;
}

.immaps {
    width: 96%;
    height: 316px;
    border: 3px solid darkred;
}

.cparagrafo {
    text-align: right;
    color: red;
    font-weight: bold;

}

.cparagrafo h2 {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 1px;
    font-weight: bold;
    color: darkred;
    line-height: 45px;
}

.formrow {
    background-color: white;
    padding: 2%;
    margin: 0 10% 1% 10%;
}

.formrow label {
    display: block;
    color: red;
    line-height: normal;
    text-align: right;
    margin: 0;
}

.formrow input {
    width: 100%;
    line-height: 15px;
    border: 2px solid black;
    margin: 0 0 10px;
}

.formrow textarea {
    width: 100%;
    height: 180px;
    line-height: 15px;
    border: 2px solid black;
    margin: 0 0 10px;
}

#button {
    background-color: red;
    color: white;
    border-color: red;
    font-size: 22px;
    padding: 4px;
    margin-top: 2%;
    width: 25%;
    font-family: 'Dancing Script', cursive;
    color: white;
}

 
